.container {
    width: 80%;
    margin: auto;
  }
  
  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    flex-wrap: nowrap;
  }
  
  .bigname {
    flex: 1;
    max-width: 50%;
  }
  
  .bigimage {
    flex: 1;
    max-width: 50%;
    text-align: right;
  }
  
  .bigimage img {
    width: 100%;
    max-width: 800px;
    height: auto;
  }
  
  h1 {
    font-size: 4rem;
    color: #333333;
  }
  
  h1 span {
    color: #f13c20;
  }
  
  h2 {
    font-size: 1.3rem;
    color: #666666;
    margin: 20px 0;
  }
  
  .cta {
    background-color: #71BC61;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s;
  }
  
  .cta:hover {
    background-color: #e03b1a;
  }
  
  .cards {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
  }
  
  .card {
    flex: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 25%;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .card h2 {
    color: #333;
    margin-bottom: 10px;
  }
  
  .card p {
    color: #666;
    font-size: 0.9rem;
    margin-bottom: 15px;
  }
  
  .card button {
    background-color: #71BC61;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .card button a {
    text-decoration: none;
    color: #fff;
  }
  
  .card button:hover {
    background-color: #e03b1a;
  }
  .culture-section {
    text-align: center;
    margin: 40px 0; /* Add some space above and below */
  }
  
  .culture-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .large-button {
    padding: 15px 30px;
    font-size: 18px;
    background-color: #e03b1a; /* Use the Royal Purple color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .large-button:hover {
    background-color: #f56345; /* Darker shade for hover effect */
  }
  